# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment directories
env/
venv/

# Ignore libs directory
libs/

# Ignore other common files and directories
.DS_Store
*.log
*.tmp
node_modules/
data/ambientSpeech/vtl-2.1/arData-aeiou@-100-0.1-0.1-0.1-0.1-0.1-0.1-0.01-0.01-0.01-0.01-0.01-0.01-0.01-0.01-0.01-0.01-0.01-0.01.mat
